* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border: 1px solid black;
  margin: 10% 30%;
}

.to-do-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 32px;
}

li {
  border: 1px solid rgb(188, 188, 188);
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 300;
  padding: 1%;
}

.todolist-title,
.todolist-add,
button {
  padding: 1%;
}

.todolist-title {
  font-size: 24px;
}

.todolist-add {
  color: silver;
  display: flex;
  justify-content: space-between;
}

.todolist-add input,
.task-description {
  border: none;
}

.todolist-add input::placeholder {
  font-style: italic;
  border: none;
}

.add-button {
  cursor: pointer;
  color: black;
}

.to-do-list li {
  display: flex;
  justify-content: space-between;
}

.task-data:focus,
.task-description:focus {
  outline: none;
}

.task-description:focus {
  border: none;
}

.delete-icon {
  cursor: pointer;
  color: blue;
}

button {
  width: 100%;
  font-size: 16px;
}
